%p#notice= notice

%p
  %b League:
  = @admin_season.league
%p
  %b Year:
  = @admin_season.year
%p
  %b Day:
  = @admin_season.day
%p
  %b Start date:
  = @admin_season.start_date
%p
  %b Number of weeks:
  = @admin_season.number_of_weeks
%p
  %b Roll off weeks:
  = @admin_season.roll_off_weeks
%p
  %b Dates off:
  = @admin_season.dates_off

= link_to 'Edit', edit_admin_season_path(@admin_season)
\|
= link_to 'Back', admin_seasons_path
