%h1 Listing games

%table
  %thead
    %tr
      %th Match
      %th Score
      %th Performed date
      %th
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.match
        %td= game.score
        %td= game.performed_date
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
