.table-responsive
  %table#averages_table.table.table-bordered.table-hover
    %thead
      %tr
        %th Bowler
        %th Season
        %th League
        %th Average
        %th Actions

    %tbody
      - @admin_averages.each do |average|

        %tr
          %td= average.member.full_name
          %td= average.season.year
          %td= average.season.league.name
          %td= average.average
          %td
            .btn-group
              = link_to 'Show', admin_average_path(average), {class: 'btn btn-primary btn-sm'}
