%ul.nav.nav-pills.nav-stacked
  %li{role: 'navigation', 'data-toggle' => 'pill'}
    = link_to 'Leagues', admin_leagues_path
  %li{role: 'navigation', 'data-toggle' => 'pill'}
    = link_to 'Seasons', admin_seasons_path
  %li{role: 'navigation', 'data-toggle' => 'pill'}
    = link_to 'Weeks', admin_weeks_path
  %li{role: 'navigation', 'data-toggle' => 'pill'}
    = link_to 'Matches', admin_matches_path
  %li{role: 'navigation', 'data-toggle' => 'pill'}
    = link_to 'Games', admin_games_path
  %li{role: 'navigation', 'data-toggle' => 'pill'}
    = link_to 'Teams', admin_teams_path
