- if @admin_user.errors.any?
  #error_explanation
    %h2= "#{pluralize(@admin_user.errors.count, "error")} prohibited this User from being saved:"
    %ul
      - @admin_user.errors.full_messages.each do |msg|
        %li= msg

.form-group.row
  .col-sm-3
    = f.label :first_name
  .col-sm-6
    = f.text_field :firstname, class: 'form-control'
.form-group.row
  .col-sm-3
    = f.label :last_name
  .col-sm-6
    = f.text_field :last_name, class: 'form-control'
.form-group.row
  .col-sm-3
    = f.label :usbc_number
  .col-sm-6
    = f.text_field :usbc_number, class: 'form-control'
.form-group.row
  .col-sm-3
    = f.label :birth_date
  .col-sm-6
    = f.text_field :birth_date, {class: 'datepicker form-control'}


