.table-responsive
  %table#teams_table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Number of Bowlers
        %th Links

    %tbody
      - @admin_teams.each do |team|
        %tr
          %td
            = team.name
          %td
            = team.number_of_bowlers
          %td
            .btn-group
              = link_to 'Show', admin_team_path(team), {class: 'btn btn-success btn-sm'}
              = link_to 'Edit', edit_admin_team_path(team), {class: 'btn btn-info btn-sm'}
              = link_to 'Destroy', admin_team_path(team), {class: 'btn btn-danger btn-sm', :method => :delete, :data => { :confirm => 'Are you sure?' }}
