.table-responsive
  %table#teams_table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Number of Bowlers
        %th Actions

    %tbody
      - @admin_teams.each do |team|
        %tr
          %td
            = team.name
          %td
            = team.number_of_bowlers
          %td
            .btn-group
              = link_to 'Show', admin_team_path(team), {class: 'btn btn-primary btn-sm'}
              = link_to 'Edit', edit_admin_team_path(team), {class: 'btn btn-info btn-sm'}
              = link_to 'Destroy', '#delete-confirm', {class: 'delete-confirm btn btn-danger btn-sm', 'data-id' => team.id, 'data-name' => team.name }
= paginate @admin_teams, :window => 2
= render 'destroy_modal'
